<!doctype html>
<html lang="{{ page.locale }}">
	<head>
		<link rel=stylesheet href="style.css">
		<meta name=viewport content="width=device-width,initial-scale=1">

		<title>{{ page.title }}</title>
		{% if page.description %}
			<meta name=description content="{{ page.description}}">
		{% endif %}

		{% if page.og_image %}
			<meta property=og:title content="{{ page.title }}">
			<meta property=og:type content="{{ page.og_type }}">
			<meta property=og:url content="{{ site.url_stub }}/{{ page.filename_url }}">
			<meta property=og:image content="{{ page.og_image }}">
			{% if page.og_audio %}
				<meta property=og:audio content="{{ page.og_audio }}">
			{% endif %}
			{% if page.og_video %}
				<meta property=og:video content="{{ page.og_video }}">
			{% endif %}
			<meta property=og:site_name content="{{ site.name }}">
			{% if page.description %}
				<meta property=og:description content="{{ page.description }}">
			{% endif %}
			<meta property=og:locale content="{{ page.locale }}">
		{% endif %}

		{% if page.allow_robots != true %}
			<meta name=robots content=noindex,nofollow>
		{% endif %}

		{% if page.is_nsfw %}
			<meta name=rating content=adult>
		{% endif %}

		<!--
		TODO: Favicons!

		Icon sizes:
		favicon.ico: 48x48
		icon.png: 192x192

		<link rel="icon" href="/icon.png">
		<link rel="apple-touch-icon" href="/icon.png">
	 	-->
	</head>
	<body>
		<header>
			<a href=#menu-show id=menu-show aria-label="Open main menu"><p>☰</p></a>
			<a href=#menu-hide aria-hidden=true></a>
			<nav>
				{% if page.filename_raw == "index.html" %}
					<a class=active href=index.html><h3>{{ site.name }}</h3></a>
				{% else %}
					<a href=index.html><h3>{{ site.name }}</h3></a>
				{% endif %}
				<a href=#menu-hide aria-label="Close main menu"><p>✖ Close</p></a>
				{% for page_ in site.pages %}
					{% if page_.filename_raw == "index.html" %}
						{% continue %}
					{% endif %}
					{% if page_.filename_raw == page.filename_raw %}
						<a class=active href="{{ page_.filename_url }}"><p>{{ page_.title }}</p></a>
					{% else %}
						<a href="{{ page_.filename_url }}"><p>{{ page_.title }}</p></a>
					{% endif %}
				{% endfor %}
			</nav>
		</header>
		<article>
			{{ page.data }}
		</article>
		<footer>
		</footer>
	</body>
</html>
